@import 'imports/all';
@import 'imports/sign-buttons';
@import 'imports/header';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: inherit;
    font-family: 'fuente1';
    text-decoration: none;
}

@font-face {
    font-family: "fuente1";
    src: url("../fonts/Xolonium-Regular.ttf");
}

@font-face {
    font-family: "fuente2";
    src: url("../fonts/Montalban.otf");
}

body {
    background-color: black;
    margin-top: 0;
    height: 100vh;
    width: 100vw;
}

.header {
    display: flex;
    @media (min-width: 992px) {
        display: grid;
        grid-template-columns: 1.5fr 0.1fr 1.5fr;
    }
    .header-logo {
        margin-left: 10px;
        @media (min-width: 992px) {
            grid-column: 1 / 1;
            grid-row: 1;
        }
    }
    .sign-buttons {
        @media (min-width: 992px) {
            grid-column: 3 / 3;
        }
        margin-right: 10px;
    }
    .language-switch {
        @media (min-width: 992px) {
            grid-column: 2 / 2;
            grid-row: 1;
        }
    }
}

.wrapper {
    height: 100%;
    .wrapper-content {
        background: rgba(0, 0, 0, 0.06);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3.5px);
        -webkit-backdrop-filter: blur(3.5px);
        position: absolute;
        height: 110%;
        @media (min-width: 992px) {
            height: 100%;
        }
        width: 100%;
        #content {
            margin-top: 5%;
            color: rgb(255, 255, 255);
            text-align: center;
        }
        .content-name {
            font-size: 50px;
            font-family: 'fuente2';
            text-shadow: 0 0 7px #fff, 0 0 10px #fff;
            margin-bottom: 40px;
        }
        .content-description {
            @media (min-width: 992px) {
                font-size: 30px;
                margin-left: 20%;
                margin-right: 20%;
            }
            font-size: 30px;
            margin-left: 5px;
            margin-right: 5px;
            font-family: 'fuente1';
            text-shadow: 0 0 7px #fff;
        }
        .content-explore {
            margin-top: 5%;
            #explore {
                @include neonButton();
                font-size: 30px;
            }
        }
    }
}