@import 'imports/all';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: inherit;
    font-family: 'fuente1';
    text-decoration: none;
}

@font-face {
    font-family: "fuente1";
    src: url("../fonts/Xolonium-Regular.ttf");
}

@font-face {
    font-family: "fuente2";
    src: url("../fonts/Montalban.otf");
}

body {
    background-color: black;
    margin-top: 0;
    height: 100vh;
    width: 100vw;
}

.wrapper {
    height: 100%;
    .header {
        display: grid;
        grid-template-columns: 0.1fr 1.5fr 0.1fr 1.5fr 0.1fr;
        grid-auto-rows: minmax(100px, auto);
        .header-logo {
            grid-column: 2 / 2;
            grid-row: 1;
        }
        .sign-buttons {
            text-shadow: 0 0 7px #fff;
            grid-column: 4 / 4;
            grid-row: 1;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            font-family: 'fuente2';
            #sign-up {
                margin-right: 30px;
                @include neonButton();
            }
            #sign-in {
                @include neonButton();
            }
        }
        .language-switch {
            grid-column: 3 / 3;
            grid-row: 1;
        }
    }
    .wrapper-content {
        background: rgba(0, 0, 0, 0.06);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3.5px);
        -webkit-backdrop-filter: blur(3.5px);
        position: absolute;
        height: 100%;
        width: 100%;
        #content {
            margin-top: 5%;
            color: rgb(255, 255, 255);
            text-align: center;
        }
        .content-name {
            font-size: 50px;
            font-family: 'fuente2';
            text-shadow: 0 0 7px #fff, 0 0 10px #fff;
            line-height: 3;
        }
        .content-description {
            font-size: 30px;
            font-family: 'fuente1';
            margin-left: 20%;
            margin-right: 20%;
            text-shadow: 0 0 7px #fff;
        }
        .content-explore {
            margin-top: 5%;
            #explore {
                @include neonButton();
                font-size: 30px;
            }
        }
    }
}