@import "./imports/all";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'fuente1';
    text-decoration: none;
    // overflow: hidden;
}

body {
    background-color: black;
    color: white;
}

@font-face {
    font-family: "fuente1";
    src: url("../fonts/Xolonium-Regular.ttf");
}

@font-face {
    font-family: "fuente2";
    src: url("../fonts/Montalban.otf");
}

@import 'imports/all';
@import 'imports/inputsStyle';
@import 'imports/checkBoxstyle';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'fuente1';
    text-decoration: none;
    // overflow: hidden;
}

@font-face {
    font-family: "fuente1";
    src: url("../fonts/Xolonium-Regular.ttf");
}

@font-face {
    font-family: "fuente2";
    src: url("../fonts/Montalban.otf");
}

.wrapper {
    height: 100%;
    .wrapper-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.3fr 1.7fr;
        .header {
            grid-column: 1 / span 12;
            grid-row: 1;
            height: 200px;
            width: 99vw;
            display: grid;
            grid-template-columns: 0.1fr 1fr 2fr 0.1fr 0.3fr 0.1fr;
            margin-bottom: 40px;
            .language-switch {
                grid-column: 4 / 4;
                grid-row: 1;
                display: flex;
                align-items: center;
            }
            .header-logo {
                grid-column: 2 / 2;
                grid-row: 1;
            }
            .wrapper-profile {
                grid-column: 5 / 5;
                grid-row: 1;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 80%;
                color: white;
                .dropdown {
                    width: 70px;
                    height: 70px;
                    #profile {
                        width: 70px;
                        height: 70px;
                        border-radius: 30px;
                    }
                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: white;
                        right: 45px;
                        width: 10%;
                        overflow: hidden;
                        border-radius: 20px;
                        box-shadow: 3px -3px 30px white, -3px 3px 30px white;
                        text-align: center;
                    }
                    &:hover .dropdown-content {
                        display: block;
                    }
                    .dropdown-content a {
                        display: block;
                        color: #000000;
                        padding: 5px;
                        text-decoration: none;
                    }
                    .dropdown-content a:hover {
                        color: #ffffff;
                        background-color: #000000;
                    }
                }
            }
        }
        .content {
            grid-column: 1 / span 12;
            grid-row: 2;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            align-content: stretch;
            gap: 50px;
            color: black;
            &>div[class^="P-"] {
                background-color: white;
                width: 50%;
                border-radius: 20px;
                padding: 30px;
                line-height: 2;
                box-shadow: 3px -3px 30px white, -3px 3px 30px white;
                text-align: center;
                h1 {
                    text-align: center;
                }
                button {
                    @include neonButton();
                    background-color: #000000;
                    font-size: 13px;
                    padding: 10px;
                    margin-top: 1%;
                    margin-bottom: 10px;
                }
                #selectPhoto {
                    display: none;
                }
                #selectedPhoto {
                    height: 100%;
                    width: 30%;
                }
                #photoPreview {
                    height: 100%;
                    width: 30%;
                }
            }
        }
    }
}