@mixin neonButton {
    color: white;
    text-decoration: none;
    border: 3px white solid;
    padding: 7px 13px 13px 13px;
    border-radius: 20px;
    text-shadow: 0 0 7px #fff;
    font-size: 21px;
    &:hover {
        box-shadow: 3px -3px 30px white, -3px 3px 30px white;
    }
}